.header {
  background: $off-black;
  color: white;
  margin-bottom: $standard-font-size;
  padding: $standard-font-size 0;
}

.header__title {
  font-size: $large-font-size;
  margin: 0;
}

.header__subtitle {
  color: $off-white;
  font-size: $standard-font-size;
  font-weight: 500;
  margin: 0;
}

@media (min-width: $desktop-breakpoint) {
  .header {
    margin-bottom: $xlarge-font-size;
  }
}
